{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div>
          <a href="{% url "blog:create" %} " class="btn btn-danger">새글 작성</a>
        </div>
        <!-- Post preview-->
        {% for post in posts %}
          <div class="post-preview">
            <a href="{% url "blog:detail" post.id %}">
              <h2 class="post-title">
                <!-- title -->
                {{post.title}}
              </h2>
              <h3 class="post-subtitle">
                <!-- content -->
                {{post.content|truncatechars:100}}
              </h3>
            </a>
            <p class="post-meta">
              Posted by
              <a href="#!">
                <!-- user -->
                {{post.user}}
              </a>
              <!-- created_at -->
              {{post.created_at}}
            </p>
          </div>
          <!-- Divider-->
          <hr class="my-4"/>
        {% endfor %}
        <!-- Pager-->
        <div class="d-flex justify-content-center mb-4">
          <a class="btn btn-primary text-uppercase" href="#!">← Previous Posts</a>
          <a class="btn btn-primary text-uppercase" href="#!">1/5</a>
          <a class="btn btn-primary text-uppercase" href="#!">Next Posts →</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}